@import "addons/chat/chat.css";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.nickname-input-wrapper {
    width: auto;
    padding: 5px;
}

.nickname-field {
    width: 97%
}
